body {
    background-color: grey;
} 
#text1 {
    color: #000000;
} 
.text {
    color: #FF0000; 
} 
#text2 {
    color: #2400FF;
}
.text {
    color:#FF0000; 
}
#text3 {
    color: #00461C 
    
} 
#text4 {
    color: #000000; 
   
} 